.header, .header .cell-wrapper, .header-affix, .header-row {
    height: 76px;
}

.header-affix {
    /*min-width: 1240px;*/
    width: 99.3%;
    background: linear-gradient(to top, #FDD9B5, #FAAD7A);
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.65);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.65);
    -webkit-transition: top .2s;
    -o-transition: top .2s;
    transition: top .2s;
}

.header-fixed {
    position: fixed;
    top: 0;
}

div {
    display: block;
}

/*Шапка*/
.layer1 {
    float: left;
    width: 70px;
    padding-top: 5px;
    padding-left: 10px;
}

.layer2 {
  	display: flex;
    float: left;
    width: 400px;
    font: 40pt impact;
    color: white;
  /*align-items: center;*/
}

.layer2 font{
    font-size: 56;
    font-family: 'Permanent Marker', cursive;
    color: #c65527;
    text-shadow: 5px -6px 10px #000;
}
.layer3 {
    position: relative;
    float:left;
}

/*Кнопка авторизации*/
.layer4 {
    position: absolute;
    right: 50px;
    float:left;
    width: 200px;
    padding-top: 15px;
    padding: auto;
}
.layer4 .button_autorisation {
  position: relative;
  left: 100px;
  display: inline-block;
  color: black;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 4px;
  transition: 0.2s;
}
.layer4 .button_autorisation:hover {
  background: rgba(255,255,255,.2);
}
.layer4 .button_autorisation:active {
  background: white;
}
.layer4 .modalDialog{
  border: 2px;
  position: absolute;
}

/*Меню*/
#menu ul {
	list-style: none; /*убираем маркеры списка*/
	margin: 0; /*убираем отступы*/
	padding-left: 0; /*убираем отступы*/
	height: 76px; /*задаем высоту*/
}
#menu a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	color:black; /*меняем цвет ссылок*/
	padding:15px 0px 15px 0px; добавляем отступ*/
	font-family: arial; /*меняем шрифт*/
	line-height:50px; /*ровняем меню по вертикали*/
	display: block;
	border-right: 2px solid #696969; /*добавляем бордюр справа*/
  height: 46px;
  font-size: 20;
  text-align: center;
}
#menu a:hover {
	background:#87CEEB;/*добавляем эффект при наведении*/
}
#menu li {
	float:left; /*Размещаем список горизонтально для реализации меню*/
	position:relative; /*задаем позицию для позиционирования*/
	width: 150px;
}
/*Стили для скрытого выпадающего меню*/
#menu li > ul {
    position:absolute;
    top:70px;
    display:none;
    height: 25px;
}
#menu ul li ul li a {
    padding: 0 15px 0 15px;
    height: 50px;
    border-left: 0px;
    border-right: 0px;
}
/*Делаем скрытую часть видимой*/
#menu li:hover > ul {
    display:block;
    height: 25px;
    width:150px;  /*Задаем ширину выпадающего меню*/
}
#menu li:hover > ul > li {
    float:none; /*Убираем горизонтальное позиционирование*/
    width:150px;
}
#leftmenuitem{
    border-left: 2px solid #696969;
}

/*Таблица*/
.table {
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 75px;
}

.col_wrap{
	display: flex;
	display: -webkit-flex;
	height:100%;
	justify-content: baseline;
}

/*main-content*/
.mainblock{
  border:1px solid black;
  width: 70%;
  height: inherit;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
/*feed-content*/
.sideblock{
  display: flex;
  border: 1px solid black;
  border-width: 1px 1px 1px 0px;
  width: 30%;
  align-items: center;
  height: inherit;
}
